{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>新規登録</h1>
    <form method="POST" class="registration-form">
        <label for="title">タイトル</label>
        <input type="text" id="title" name="title" class="input-field">
        <label for="body">内容</label>
        <input type="text" id="body" name="body" class="input-field">
        <input type="submit" value="新規登録" class="submit-button">
    </form>
</div>
{% endblock %}